*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.logo .orange{
    color: orangered;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    color: #474747;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #474747;
}
.btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #FFF8F3;
    font-weight: bold;
    width: 0 auto;
    font-size: 15px;
    background-color: #FD6E0A;
}

